<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Stroke Prediction App{% endblock %}</title>

    <!-- Link to CSS -->
     <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}">
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <a href="/">Home</a>
        <a href="{{ url_for('main.gotoregister') }}">Register User</a>
        <a href="{{ url_for('main.gotopatients') }}">View Records</a>
    </div>

    <!-- Main Content -->
    <div class="content">
        {% block content %}
        <!-- This block will be overridden by child templates -->
        {% endblock %}
    </div>

    <!-- Link to JavaScript -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
